################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SDD2024/v17/.wsuo
/.vs/VSWorkspaceState.json
/SDD2024Project/.vs/SDD2024Project/FileContentIndex/5cb0796a-de88-4e33-bf9e-99a4c97cdbc0.vsidx
/SDD2024Project/.vs/SDD2024Project/FileContentIndex/83fdc102-5c0c-4872-a187-95f03e7b37f4.vsidx
/SDD2024Project/.vs/SDD2024Project/FileContentIndex/d582cf9e-e96a-486d-8498-e67f96492914.vsidx
/SDD2024Project/.vs/SDD2024Project/FileContentIndex/d64dffb9-6687-471d-a510-e38f7abc88a6.vsidx
/SDD2024Project/.vs/SDD2024Project/FileContentIndex/read.lock
/SDD2024Project/.vs/SDD2024Project/v17/ipch/AutoPCH/277c8b5cf42516d6/1058_SEMINAR01.ipch
/SDD2024Project/.vs/SDD2024Project/v17/ipch/AutoPCH/dcf3ce35ff15d461/1058_SEMINAR02.ipch
/SDD2024Project/.vs/SDD2024Project/v17/ipch/AutoPCH/d4657d35fa44e4cc/1058_SEMINAR01.ipch
/SDD2024Project/.vs/SDD2024Project/v17/.suo
/SDD2024Project/.vs/SDD2024Project/v17/Browse.VC.db
/SDD2024Project/.vs/SDD2024Project/v17/Browse.VC.db-shm
/SDD2024Project/.vs/SDD2024Project/v17/Browse.VC.db-wal
/SDD2024Project/.vs/SDD2024Project/v17/Browse.VC.opendb
/SDD2024Project/x64/Debug/SDD2024Project.tlog/CL.command.1.tlog
/SDD2024Project/x64/Debug/SDD2024Project.tlog/CL.read.1.tlog
*.tlog
*.obj
*.exe
*.recipe
*.log
/SDD2024Project/x64/Debug/SDD2024Project.pdb
*.ilk
*.txt
*.idb
*.pdb
*.sln
*.vcxproj
*.filters
*.user
